@import "../../scss/_colors.scss";

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background-color: $backgournd-darkgray !important;
}

.browse {
  .title-image {
    width: 80px;
  }
  .tabs-top > .tabs, .tabs.tabs-top {
    background-color: #242526;
    color: #fff;
  }
  .tabs-wrap {
    .tab {
      position: absolute;
      top: 20px;
    }
  }
  .tab-item {
    transform: scale(.9);
    -webkit-transition: .1s ease-out; /* Safari */
    transition: .1s ease-out;
  }
  .tab-item-active, .tab-item.active, .tab-item.activated {
    //margin-top: 10px;
    color: #e4ff2b;
    transform: translateX(10px) scale(.7);
    -webkit-transition: .1s ease-in; /* Safari */
    transition: .1s ease-in;
  }
  .ii {
    display: none;
  }

  .main-header {

    h3 {
      width: 744px;
      margin: 0 auto;
    }
    margin: 49px auto 0;
  }
  .slider-pager {
    display: none;
  }
  h1 {
    font-size: 40px;
  }
  ul {
    font-size: 16px;
    padding: 10px;
  }
}
