<ion-view view-title="{{ pageTitle }}" class="browse">


  <!--<ion-tabs class="tabs-positive tabs-icon-top">-->

  <!--<ion-tab title="Record File"-->
  <!--ng-class="{active: selected === 0}"-->
  <!--ng-click="selected = 0">-->
  <!--&lt;!&ndash; Tab 1 content &ndash;&gt;-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Scrap Book"-->
  <!--ng-class="{active: selected === 1}"-->
  <!--ng-click="selected = 1">-->
  <!--&lt;!&ndash; Tab 2 content &ndash;&gt;-->

  <!--</ion-tab>-->

  <!--<ion-tab title="Momory"-->
  <!--ng-class="{active: selected === 2}"-->
  <!--ng-click="selected = 2">-->
  <!--&lt;!&ndash; Tab 3 content &ndash;&gt;-->

  <!--</ion-tab>-->

  <!--</ion-tabs>-->

  <div class="tabs"
       ng-class="{'tabs-top': dev_width > 640}">
    <a class="tab-item"
       ng-class="{active: selected === 0, 'col col-10 col-offset-50':dev_width > 640}"
       ng-click="selected = 0">
      <!--<i class="icon ion-home"></i>-->
      <p>Record File</p>
    </a>
    <a class="tab-item"
       ng-class="{active: selected === 1, 'col col-10':dev_width > 640}"
       ng-click="selected = 1">
      <!--<i class="icon ion-star"></i>-->
      <p>Scrap Book</p>
    </a>
    <a class="tab-item"
       ng-class="{active: selected === 2, 'col col-10':dev_width > 640}"
       ng-click="selected = 2">
      <!--<i class="icon ion-gear-a"></i>-->
      <p>Momory</p>
    </a>
  </div>


  <ion-content
    ng-class="{'tabs-margin-top': dev_width > 640 }">


    <ion-slide-box on-slide-changed="selectItem($index)" active-slide="selected">
      <ion-slide>
        <div class="box yellow"><h1>Record File</h1></div>
        <record-page></record-page>
      </ion-slide>

      <ion-slide>
        <div class="box yellow"><h1>Scrap Book</h1></div>
      </ion-slide>

      <ion-slide>
        3
        <div class="box pink"><h1>Memory</h1></div>
      </ion-slide>
    </ion-slide-box>


  </ion-content>
</ion-view>
