<ion-view view-title="Browse" class="browse">
  <div class="tabs tabs-icon-only">
    <a class="tab-item"
       ng-class="{active: selected === 0}"
       ng-click="selected = 0">
      <!--<i class="icon ion-home"></i>-->
      <p>Record File</p>
    </a>
    <a class="tab-item"
       ng-class="{active: selected === 1}"
       ng-click="selected = 1">
      <!--<i class="icon ion-star"></i>-->
      <p>Scrap Book</p>
    </a>
    <a class="tab-item"
       ng-class="{active: selected === 2}"
       ng-click="selected = 2">
      <!--<i class="icon ion-gear-a"></i>-->
      <p>Momory</p>
    </a>
  </div>
  <ion-content>


    <ion-slide-box on-slide-changed="selectItem($index)" active-slide="selected">
      <ion-slide>
        <div class="box blue"><h1>Record</h1></div>

        <record-page></record-page>

      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>Scrap Book</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>Memory</h1></div>
      </ion-slide>
    </ion-slide-box>


  </ion-content>
</ion-view>
