@import "../../scss/_colors.scss";

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background-color: $backgournd-darkgray !important;
}

.browse {
  .nav-title {

  }
  .tabs-margin-top {
    margin-top: 49px;
  }
  //.tabs-align-right{
  //  -webkit-justify-content: right !important;
  //  justify-content: right !important;
  //}

  .ii {
    display: none;
  }
  .tab-nav .tabs {
    backgound-color: $backgournd-darkgray;
    color: $positive;
  }
  .main-header {

    h3 {
      width: 744px;
      margin: 0 auto;
    }
    margin: 49px auto 0;
  }
  .slider-pager {
    display: none;
  }
  h1 {
    font-size: 40px;
  }
  ul {
    font-size: 16px;
    padding: 10px;
  }
}
