@font-face {
  font-family: "Noto Sans Korean";
  src: url("../fonts/NotoSansKorean/NotoSansKR-DemiLight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Noto Sans Korean";
  src: url("../fonts/NotoSansKorean/NotoSansKR-Thin.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Noto Sans Korean";
  src: url("../fonts/NotoSansKorean/NotoSansKR-Regular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans Korean";
  src: url("../fonts/NotoSansKorean/NotoSansKR-Medium.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans Korean";
  src: url("../fonts/NotoSansKorean/NotoSansKR-Bold.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Geogrotesque";
  src: url("../fonts/Geogtq-Lg.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: 'Typist-icon';
  src: url('../fonts/Typist-icon.eot');
  src: url('../fonts/Typist-icon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Typist-icon.woff') format('woff'),
  url('../fonts/Typist-icon.ttf') format('truetype'),
  url('../fonts/Typist-icon.svg#Typist-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

