.all-resource-modal {
  .close-btn {
    position: relative;
    right: 15px;
    top: 6px;
  }
  ion-content {
    padding: 10px;
    .contents-wrap {
      overflow: auto;
      width: 100%;
      max-width: 927px;
      //padding-left: 45px;
      margin: 0 auto;

      .resource-wrap {
        float: left;
        width: 22%;
        max-width: 200px;
        overflow: hidden;
        margin-top: 10px;
        margin-right: 1%;
        margin-left: 1%;
        height: 200px;

        &:last-child {
          //margin-left: 0;
        }
        &:last-child {
          //margin-right: 0;
        }
        .resource {
          width: 100%;
          background-color: #ededed;
          height: 200px;

        }
      }

    }

  }

}

@media (min-width: 680px) {
  .modal {
    width: 60% !important;
    position: relative;
    left: 20% !important;
    right: 13% !important;
    top: 4% !important;
    bottom: 4% !important;
    border-radius: 12px;
    ion-content {
      padding: 20px
    }
  }
}
