<ion-modal-view class="all-resource-modal" ng-controller="allResourceModalController">
  <ion-header-bar>
    <h1 class="title">All resource</h1>
    <div class="buttons">
      <div class="close-btn" ng-click="closeModal()"><i style="color: #666;" class="ion-close-round"></i></div>
    </div>
  </ion-header-bar>
  <ion-content>
    리소스 모달
    <div class="contents-wrap">
      <div class="resource-wrap">
        <div class="resource">
        </div>
      </div>
      <div class="resource-wrap">
        <div class="resource">
        </div>
      </div>
      <div class="resource-wrap">
        <div class="resource">
        </div>
      </div>
      <div class="resource-wrap">
        <div class="resource">
        </div>
      </div>
      <div class="resource-wrap">
        <div class="resource">
        </div>
      </div>
      <div class="resource-wrap">
        <div class="resource">
        </div>
      </div>
      <div class="resource-wrap">
        <div class="resource">
        </div>
      </div>
      <div class="resource-wrap">
        <div class="resource">
        </div>
      </div>
    </div>

  </ion-content>

</ion-modal-view>
