.recommend-card-modal {
  ion-header-bar {
    background-color: #242526 !important;
    h1 {

      font-size: 17px !important;
    }
  }
  .title {
    font-weight: 400 !important;
    color: #cfcfcf;
    right: 0 !important;
    left: 0 !important;
  }

  .close-btn {
    margin-top: -2px;
    padding: 8px;
    margin-right: 5px;
  }

}


