.scrap-save-modal {
  ion-content {
    .list {
      margin-bottom: 10px;
    }
    p {
      padding-left: 16px;
      font-size: 15px;
    }

  }
  .card {
    height: 165px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
