<ion-modal-view class="scrap-view-modal">
  <ion-header-bar>
    <h1 class="title">Input Coverpage</h1>
    <div class="buttons">
      <button class="button button-positive" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list" style="margin-bottom:10px;">
        <label class="item item-input item-stacked-label">
          <span class="input-label">TITLE</span>
          <input type="text" placeholder="input title">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">DESCRIPTION</span>
          <textarea placeholder="Input contents description" rows="10"></textarea>
        </label>
      </div>
      <div>
        <p style="padding-left:16px; font-size:15px;">COVER IMAGE</p>
      </div>
      <div class="card" style="height:165px; margin-top:10px; margin-bottom:10px;">
      여기 앨범에서 선택한 사진 백그라운드로 박히게
      </div>
      <div>
        <p style="padding-left:16px; font-size:15px;">COVER IMAGE</p>
      </div>
     


  </ion-content>
</ion-modal-view>
