.scrap-view-modal {
  .close-btn {
    padding: 8px;
    margin-right: 5px;
  }
  .bar-footer {
    height: 60px;
    text-align: center;
    background-color: #fc5656;
    opacity:.9;
    background-size: 100% 0;
    .view-btn {
      width: 100%;
      margin: 0 auto;
      span {
        color: #fff;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 50px;
        margin: 0 auto;
      }
    }
  }

  .scrap-preview {
    h1 {
      font-size: 18px;
      padding: 10px 25px 0;
      width: 100%;
      white-space: pre-line;
      text-overflow: ellipsis;

    }
    padding: 0 !important;
    .bb {
      margin-bottom: 0;
    }
    h4 {
      border-top: 1px solid #ededed;
      border-right: none;
      border-left: none;
      color: #323232;
      padding: 15px;
      font-size: 16px;
      margin: 0 0 10px 0;
      p {
        display: block;
        line-height:22px;
        margin-top: -22px;
        padding-left: 20px;
      }
      .icon-index, .icon-image, .icon-record, .icon-scrap {
        margin-right: 6px;
        color: #cccccc;
      }
    }
    .bdernone {
      border-top: none !important;
    }
    .mb {
      margin-bottom: 0;
    }
    .leng {
      float: right;
      padding-top: 4px;
      color: #cccccc;
      padding-right: 10px;
    }

    .list {
      color: #6f6f6f;
      list-style: none !important;
      display: block;
      margin-bottom: 30px;
      margin-top: 10px;
      li {
        padding-left: 36px;
        font-size: 14px;
        line-height: 28px;
      }

      .list-items {
        border: 1px solid #ededed;
        box-shadow: 0 0 20px -8px #a5a5a5;
        background-color: #fafafa;
        margin: -10px 10px 20px 10px;
        padding: 20px 10px 20px 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }

    }

  }

}
