<div class="memory">

  <div class="memory-view">
    <div class="title">
      <h2>Web Cloud</h2>
    </div>
    <div class="info">
      <p>12GB의 여유 공간 (총58GB)</p>
    </div>
    <div class="memory-bar">
      <span class="pic-memory">17 GB</span>
      <span class="video-memory">23 GB</span>
      <span class="voice-memory">10 GB</span>
    </div>
  </div>

  <div class="memory-detail">
    <div class="section-wrapper">
      <div class="index"><i class="ion-stop" style="color: rgba(255, 71, 123, .7);"> 이미지 (17 GB)</i></div>
      <div class="button">
        <div class="btn-wrapper">
          <div class="memory-btn"><i class="icon-image"></i>전체 이미지 파일<span>214개</span></div>
        </div>
      </div>
    </div>

    <div class="section-wrapper">
      <div class="index"><i class="ion-stop" style="color:  rgba(114, 221, 70, .7);"> 동영상 (23 GB) </i></div>
      <div class="button">
        <div class="btn-wrapper">
          <div class="memory-btn"><i class="icon-video"></i>전체 동영상 파일<span>34개</span></div>
        </div>
      </div>
    </div>

    <div class="section-wrapper">
      <div class="index"><i class="ion-stop" style="color: rgba(255, 163, 0, .7);"> 음성파일 (10 GB) </i></div>

      <div class="button">
        <div class="btn-wrapper">
          <div class="memory-btn"><i class="icon-voice"></i>전체 음성 파일<span>28개</span></div>
        </div>
      </div>

    </div>
  </div>

</div>
