.ion-android-radio-button-off {
  font-size: 8px !important;
}
.nav-title {
  color: #e4ff2b !important;
}

.record-page {

  ion-content {
    background-color: #242526;
    .scroll {
      height:100%;
      .time-count-section {
        background-color: #242526;
        text-align: center;
        height: 70px;

        .time-count {
          font-family: Geogrotesque !important;
          color: #ededed;
          span {
            font-size: 25px;
          }
        }
      }

      #results {
        padding-left:20px;
        color: #fff;
        width: 95%;
        margin: 0 auto;
        min-height: 350px !important;
        border: 1px solid #444444;
      }

      #div_start {

        width: 200px;
        margin: 20px auto;
      }

      #start_button {
        width: 200px;
        height: 40px;
      }

      #info_start {

      }
      .bottom-section {
        position: absolute;
        bottom:20px;
        left:22%;
        right:22%;

        .button-wrapper {
          width: 209px;
          overflow: auto;
          margin: 0 auto;
        }
      }

      .circleContainer {

        width: 100px;
        margin: 10px auto;
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9);

        .micButton {
          background: #fc5656;
          margin: 0 auto;
          border-radius: 50%;
          height: 100px;
          width: 100px;
          position: relative;
          border: none;

        }

        .micButton:active, .micButton.active {
          opacity: .9;
        }
        .ion-record {
          position: absolute;
          top: 12px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          font-size: 50px;
          color: #fff;
        }
        .ion-stop {
          position: absolute;
          top: 12px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          font-size: 50px;
          color: #fff;
        }
      }
    }
  }
}
