.record-page-wrap {
  max-width: 927px;
  margin: 0 auto;
  .item-complex .item-content {
    background-color: transparent;
  }

  .record-items {
    .list {
      max-width: 744px;
      margin: 0 auto;
    }

  }

  .web-margin-top {
    //margin-top: 35px;
  }
}

