.scrap-page-wrap {
  max-width: 927px;
  margin: 0 auto;
  .content-wrap {
    .list:last-child {
      margin-bottom: -1px;
    }
  }
  .scrap-items {
    border: 1px solid #ededed;
    width: 549px;
    float: left;
    .selected {
      background-color: #f4f5f8;
    }
    .scrap-content {
      width: 100%;
      display: inline-block;
      padding: 0;
    }

    .view-btn {
      position: absolute;
      background-color: #e2e2e2;
      border: 1px solid #d3d3d3;
      width: 140px;
      height: 40px;
      right: 28px;
      top: 26px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    .view-btn:hover {
      background-color: #fc5656;
      border: 1px solid #db3f3f;
      color: #fff;
    }

  }

  //미리보기

  .scrap-preview {
    height: 991px;
    background-color: #fff;
    /*padding: 10px 20px;*/
    max-width: 358px;
    border: 1px solid #ddd;
    float: left;
    margin-left: 10px;

    .bb {
      margin-bottom: -25px;
    }
    img {
      /* width: 318px;*/
    }
    h4 {
      border-top: 1px solid #ededed;
      border-right: none;
      border-left: none;
      color: #323232;
      padding: 15px;
      font-size: 16px;
      margin: 10px 0 10px 0;
      .icon-index, .icon-image, .icon-record {
        margin-right: 6px;
        color: #cccccc;
      }
      p {
        display: block;
        line-height: 22px;
        margin-top: -22px;
        padding-left: 20px;
      }
    }
    .bdernone {
      border-top: none;
    }
    .mb {
      margin-bottom: 0;
    }
    .leng {
      float: right;
      padding-top: 4px;
      color: #cccccc;
      padding-right: 10px;
    }

    .list {
      list-style: none !important;
      display: block;
      margin-bottom: 40px !important;
      color: #6f6f6f;
      li {
        padding-left: 30px;
        font-size: 14px;
        line-height: 28px;
      }
      .list-items {
        box-shadow: 0 0 20px -8px #a5a5a5;
        background-color: #fafafa;
        border: 1px solid #ededed;
        margin: -10px 10px 20px 10px;
        padding: 20px 10px 20px 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }

    }
  }
}

.slider-pager .slider-pager-page {
  display: inline-block;
  margin: 0px 3px;
  width: 15px;
  font-size: 10px !important;
  color: #fff !important;
  text-decoration: none;
  opacity: 0.3;
}

.scrap-list-mobile {

  width: 100% !important;
}

.slider-slide {
  margin-bottom: 35px;
}
