<div class="footer-section">
  <div class="dotted-spaced">
  </div>


  <div class="footer1">
    <div class="footer-left">
      <div class="content-wrapper">
        <div class="email-section">

          <img src="img/sub-log.png" alt="#">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Enter email to receive updates and newslatter">
            </label>

          </div>
        </div>

        <div class="contact">
          <p>Contact with us</p>
          <img class="sns-icon" src="img/icon-sns/Facebook.png" alt="#">
          <img class="sns-icon" src="img/icon-sns/Intsagram.png" alt="#">
          <img class="sns-icon" src="img/icon-sns/Pinterest.png" alt="#">
          <img class="sns-icon" src="img/icon-sns/Tumblr.png" alt="#">
          <img class="sns-icon" src="img/icon-sns/Twitter.png" alt="#">
        </div>
      </div>
    </div>


    <div class="content-wrapper">
      <div class="footer-right">
        <div class="row">
          <div class="col col-25"><a href="#">About</a></div>
          <div class="col"><p>The Typist is will record your all type data
            for easy use.</p></div>
        </div>
        <div class="row">
          <div class="col col-25"><a href="#">Record File</a></div>
          <div class="col"><p>Various data generated during recording It can be
            integrated on the basis of script timeline.</p></div>
        </div>
        <div class="row">
          <div class="col col-25"><a href="#">Scrap Book</a></div>
          <div class="col"><p>Typist Chrome extension offers Your proper
            resource at the time Searching reference of the report.</p></div>
        </div>
        <div class="row">
          <div class="col col-25"><a href="#">Memory</a></div>
          <div class="col"><p>Manage your resources and local and cloud memory.</p></div>
        </div>
      </div>
    </div>

  </div>

  <div class="dotted-spaced margin-top40"></div>

  <div class="copyright">
    <h4>Copyright © 2016 Typist, Inc. </h4>
  </div>
</div>
