<div class="record-page-wrap">

  <ion-item class="add-btn"
            href="#/app/record-page"
            ng-hide="dev_width > 640">
    <span style="padding-left: 40px; background-color: transparent; "><i class="ion-plus-round"></i> Add Record</span>

  </ion-item>


  <ion-list class="record-items">
    <ion-item class="card" ng-repeat="item in items">
      <ion-option-button class="button-assertive">delete</ion-option-button>


      <record-list-item item="item"></record-list-item>

    </ion-item>
  </ion-list>

</div>
