.record-page-wrap {
  max-width: 927px;
  margin: 0 auto;
  .item-complex .item-content {
    background-color: transparent;
  }
  .header {
    display: inline-block;
    width: 100%;
    .header-wrap {
      margin-top: 5px;
      display: inline-block;
      width: 100%;

      h3 {
        display: inline-block;
        float: left;
      }
      .search-bar {
        .sc-bar {
          float: right;
          display: inline-block;
          .item-input {
            height: 28px !important;
            border-radius: 50px !important;
          }
        }
      }
      .select-option {
        display: inline-block;
        float: right;
        margin-top: 2px;
        margin-left: 25px;
      }
      .header-mobile {
        clear: both;
      }
      .header-web {
        float: right;
      }

    }
  }

  .record-items {

    .list {
      max-width: 744px;
      margin: 0 auto;
    }

  }

  .web-margin-top {
    //margin-top: 35px;
  }
}

