<div class="record-page-wrap">

  <div class="header">
    <div class="header-wrap row">
      <h3 ng-hide="dev_width < 640">recordlist </h3>
      <div class="search-bar"
           ng-class="{'header-mobile':dev_width < 640, 'header-web':dev_width > 640, 'col':dev_width < 640}">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
    </div>
  </div>


  <button class="button button-block"
            href="#/app/record-page"
            ng-hide="dev_width > 640"
  >Add record
  </button>

  <!--<ul class="record-items">-->
  <!--<li>-->

  <!--&lt;!&ndash;<post-item post="post"&ndash;&gt;-->
  <!--&lt;!&ndash;style="opacity: 0; animation: linear-motion-up 0.6s ease-out {{$index * 0.03}}s 1; animation-fill-mode: forwards; "></post-item>&ndash;&gt;-->
  <!--</li>-->
  <!--</ul>-->

  <ion-list class="record-items">
    <ion-item class="card" ng-repeat="item in items">
      <ion-option-button class="button-assertive">delete</ion-option-button>


          <record-list-item item="item"></record-list-item>
          <!--<h1>{{ item.url.title }}</h1>-->
          <!--<p>date {{ date }} </p>-->
          <!--<h1>{{ items.url.title }}</h1>-->
          <!--<p>{{ $scope.items }}</p>-->
      <!--<record-list-item item="item"></record-list-item>-->


    </ion-item>
  </ion-list>

</div>
