//#div_start {
//  //position: relative;
//  #start_button {
//    //position: absolute;
//    bottom: 20px;
//    left: 10px;
//  }
//}
#results {
  width: 95%;
  margin: 0 auto;
  min-height: 200px;
  border: 1px solid #eaeaea;
}

#div_start {

  width: 200px;
  margin: 20px auto;
}

#start_button {
  width: 200px;
  height: 40px;
}

#info_start {

}
