<div class='wrap-list'>
	<div class='search-bar'>
		<div class="list list-inset">
  			<label class="item item-input">
   			 <i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Search">
  			</label>
  			<button id='add-record-btn' href="#/app/recordPage">
				<p>+</p>
				<p>ADD RECORD-FILE</p>
			</button>
		</div>
	</div>
	<div class='record-list'>
		<div class="list list-inset">
			<button id='record-list-btn'>
				<p><span id='record-date'>2016-06-30</span> / <span id='record-place'>SEOUL</span></p>
				<p id='record-title'>ADD RECORD-FILE</p>
			</button>
		</div>
	</div>
</div>
