
<a href="#/app/record-detail">
  <div class="record-item">
    <img src="{{item.images}}" alt="#">
    <div class="content-wrap">
      <div class="contents" ng-class="{'content-320px': dev_width < 322 }">
        <p class="date"> {{ item.date }} </p>
        <h1 class="title"> {{ item.title }} </h1>
        <p class="description"> {{ item.Description }} </p>
        <label class="tag"><span ng-repeat="tag in item.tags ">{{ tag }}</span></label>
      </div>
      <div class="sub-contents">
        <div class="noti"> images {{ item.resource.images}}</div>
        <div class="noti"> videos {{item.resource.videos}}</div>
        <div class="time"> {{ item.time }}</div>

      </div>
    </div>
  </div>
</a>
