.record-item {
  //width: 100%;
  overflow: auto;
  height: 165px;
  margin-bottom: 16px;
  border: 1px solid #ededed;
  background-color: #0a9dc7;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}
