.scrap-items {
  .list {
    max-width: 549px;
    padding-top: 0;
    .item {
      height: 120px;
      a {
        height: 120px;
      }
    }
  }
  .item-content {
    height: 120px;
    padding: 0;
  }
}


