.scrap-page-wrap {
  max-width: 927px;
  margin: 0 auto;

  .scrap-items {
    border: 1px solid;
    width: 549px;
    float: left;
    .scrap-content {
      display: inline-block;
      padding: 0;
    }

    .button {
      position: absolute;
      width: 140px;
      height: 40px;
      right: 28px;
      top: 35px;

    }

  }

  .scrap-preview {
    max-width: 358px;
    float: left;
    margin-left: 10px;
  }

}

.scrap-list-mobile {
  width: 100% !important;
}
