<ion-view view-title="{{navTitle}}" class="browse">
  <!--contents-->

  <ion-content
    scroll-sista="header-tabs"
    ng-class="{'has-subheader':dev_width > 640, 'has-tabs-top':dev_width < 640}">
    <div class="header-background"
         ng-hide="dev_width < 640">
    </div>

    <img src="../img/nav-shadow.png" class="nav-shadow"
         ng-hide="dev_width < 640">
    <div class="content-wrapper">
      <div class="header-background-m"
           ng-hide="dev_width > 640">
      </div>
      <div class="shadow-wrapper"
           ng-style="(dev_width < 640) ? {'border-radius': '12px',
    'margin': '0 7px'}:{'border-radius': '12px' }">
        <div class="header">
          <div class="header-wrap"
               ng-style=" (dev_width > 640) ? { 'margin-bottom':'10px', 'height':'90px', 'padding-top':'40px',
                'border-bottom':'1px solid #ededed' } : {'transformY':'10px'} ">

            <h3 ng-hide="dev_width < 640"><i class=" header-icon"
                                             ng-class="{'icon-record':selected === 0, 'icon-scrap': selected === 1, 'icon-memory':selected === 2 }"></i>{{pageTitle}}
            </h3>

            <div class="search-bar"
                 ng-class="{'header-mobile':dev_width < 640, 'header-web':dev_width > 640}"
                 ng-hide="selected === 2">
              <i class="icon-card"
                 ng-show="dev_width > 640"></i>

              <div class="select-option"
                   ng-show="dev_width > 640">
                <select>
                  <option selected> 전체검색</option>
                  <option>제목검색</option>
                  <option>내용검색</option>
                </select>
                <i class="ion-chevron-down"></i>
              </div>
              <!--<div -->
              <!--ng-show="dev_width > 640">-->
              <!--<form name="searchOption">-->
              <!--<select name="job">-->
              <!--<option value="" selected="selected">검색옵션</option>-->
              <!--<option value="">All</option>-->
              <!--<option value="">Title</option>-->
              <!--<option value="">Content</option>-->
              <!--</select>-->
              <!--<i class="ion-chevron-down"></i>-->
              <!--</form>-->
              <!--</div>-->


              <div class="sc-bar"
                   ng-style=" (dev_width < 640) ? { 'width':'100%', 'padding':'12px 20px' } : {'transformY':'10px'}">
                <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Search">
                </label>
              </div>
            </div>
          </div>
        </div>
        <ion-slide-box on-slide-changed="selectItem($index)" active-slide="selected" on-drag="lockSlide()">

          <ion-slide ng-class="{ 'web-margin-top': dev_width > 640}">

            <record-list></record-list>

          </ion-slide>

          <ion-slide ng-class="{ 'web-margin-top': dev_width > 640}">
            <scrap-list></scrap-list>
          </ion-slide>

          <ion-slide ng-class="{ 'web-margin-top': dev_width > 640}">
            3
            <div class="box pink"><h1>Memory</h1></div>
          </ion-slide>
        </ion-slide-box>
        <div class="paper-pointer"
             ng-style="(dev_width > 640) ? {'background-color': '#242526'}:{'background-color':'#e5e5e5'}">
        </div>
      </div>
      <footer-section
        ng-hide="dev_width < 640"></footer-section>


    </div>
    <div class="footer-background"
         ng-hide="dev_width < 640">
    </div>
  </ion-content>


  <!--tabs-->

  <ion-tabs class="tabs-style tabs-top tabs-icon-top"
            ng-style=" (dev_width > 640) ? { 'transformY':'20px' } : {'transformY':'10px'}">
    <ion-tab title="Record File"
             class="tabs-style"
             icon-on="icon-record"
             ng-class="{active: selected === 0,
             'active-color': selected === 0}"
             ng-click="selectTabWithIndex(0)"
             ng-style=" (dev_width > 640) ? { 'padding-left':'550px' }:{'padding-left':'0'} ">
    </ion-tab>

    <ion-tab title="Scrap Book"
             class="tabs-style"
             icon-on="icon-scrap"
             ng-class="{active: selected === 1,
             'active-color': selected === 1}"
             ng-click="selectTabWithIndex(1)">
    </ion-tab>
    <ion-tab title="Memory"
             class="tabs-style"
             icon-on="icon-memory"
             ng-class="{active: selected === 2,
             'active-color': selected === 2}"
             ng-click="selectTabWithIndex(2)">
    </ion-tab>
  </ion-tabs>


</ion-view>
