@import "../scss/_colors.scss";

.menu-nav {
  .tabs-icon-top > .tabs .tab-item {
    line-height: 22px;
  }
  .has-header {
    //top: 94px !important;
  }
  [nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    max-width: 1110px;
    margin: 0 auto;
  }

  [nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
    max-width: 1110px;
    margin: 0 auto;

  }

  .tabs-top > .tabs, .tabs.tabs-top {
    border-bottom-width: 0 !important;
    background-size: 100% 0;
  }

  .bar-header {
    border-bottom-width: 0 !important;
    background-color: #242526;
  }

  .logo {
    //left: 210px;
    //position: absolute;
    //z-index: 10000000000;
    width:112px;
    height:38px;
    margin-left: 80px;
  }

  .nav-bar-tabs-top .bar {
    background-color: #242526 !important;
  }

  .bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
    font-size: 24px !important;
  }
  .button {
    margin-right: 5px;
    //.detail-icon {
    //  color: #515151;
    //  position: absolute;
    //  left: -20px;
    //  top: -1px;
    //  font-size: 18px;
    //}

    .nav-btn {
      text-decoration: none;
      color: #7d7d7d;
      font-size: 14px;
    }

    &:first-child {
      margin-right: 25px;
    }
  }

  .button .button-clear:hover {
    color: #e4ff2b;
  }

}

.menu-content-section {
  background-color: #353535;
  color: #ededed;
  ion-label {
    width:100%;
    line-height: 30px;
    color: #c7c7c7;
    padding-left: 15px;
    .ion-pricetags {
      margin-right: 10px;
    }
  }
  .item-input {
    border-radius: 50px;
    height: 30px;
    padding: 0 15px;
    margin: 0 10px 10px;
  }
  .tag-list-item {
    background-color: #313131;
    color: #c7c7c7;
    border-color: #2b2b2b;
    .ion-pricetag {
      color: #474747;
      margin-right: 10px;
    }
  }
}
