<ion-view class="record-detail" view-title="">

  <ion-nav-title>
    <!--웹 네비게이션-->
    <div class="for-w" ng-if="(dev_width > 770)">

      <div class="view-title" side="left">
        <div class="title-wrapper">
          <div class="btn-wrapper">

            <button class="button button-clear nav-btn" ng-click="allResourceModal()"><i
              class="icon-resource detail-icon"></i>
              <a class="nav-btn" href="#">All resource</a>
            </button>

            <button class="button button-clear nav-btn" ng-click="deleteRecord()"><i
              class="icon-delete detail-icon"></i>
              <a class="nav-btn">Delete</a>
            </button>

          </div>

        </div>
      </div>

    </div>

    <!--모바일 네비게이션-->
    <div class="for-m" ng-if="dev_width < 770">
      <div class="view-title" side="left">
        <div class="title-wrapper">
          <div class="btn-wrapper" style="position: absolute; right: 0; top: 5px;">

            <button class="button button-clear nav-btn" ng-click="allResourceModal()"><i
              class="icon-resource detail-icon" style="position: absolute; top: -4px; left: -19px;"></i>
              <a class="nav-btn" href="#">All resource</a>
            </button>

            <button class="button button-clear nav-btn" ng-click="deleteRecord()"><i
              style="position: absolute; top: -5px; left: -19px;" class="icon-delete detail-icon"></i>
              <a class="nav-btn">Delete</a>
            </button>
          </div>
        </div>
      </div>

    </div>


  </ion-nav-title>
  <ion-nav-bar>

    <ion-nav-back-button class="button-clear back-btn">
      <i class="ion-ios-arrow-back"></i>
      <p>리스트 목록가기</p>
    </ion-nav-back-button>

  </ion-nav-bar>
  <ion-content scroll="false">

    <!--웹 바디 영역-->
    <div class="for-w" id="wrap" ng-hide="dev_width < 770"
         ng-style=" isScrollCheck ? {'overflow':'hidden'}:{'overflow':'scroll'}">

      <div class="header-background" id="header">
        <div class="date">
          Saterday, Feb 17 3:11 PM / TAEBACK
        </div>
        <h1>헬스케어 서비스를 위한 빅데이터 설계 포인트</h1>


        <div class="tag" ng-hide="dev_width < 770">
          <i class="ion-pricetag"></i>
          <span>헬스케어</span>
          <span>빅데이터</span>
          <span>인공지능</span>
        </div>
        <div class="backfilter"></div>
      </div>
      <div class="record-detail-wrapper" id="nav">
        <div class="content-wrapper">
          <div id="waveform"
               ng-style=" (dev_width < 770) ? { 'height': '34px','margin-top':'-20px','padding':'0' } : {'padding':'15px 0'}"></div>

          <div class="media-controller">
            <div class="button-wrap">
              <div class="button  icon ion-ios-rewind"></div>
              <div class="button" ng-class="{'icon ion-ios-play':!active,'icon ion-ios-pause':active}"
                   ng-click="pauseCursor();"></div>
              <!--<div class="button  icon ion-ios-pause" ng-click="stopCursor();"></div>-->
              <div class="button  icon ion-ios-fastforward"></div>
            </div>

            <div class="timer">
              <h2>
                {{("0"+(hour)).slice(-2)}}:{{("0"+(minute)).slice(-2)}}:{{("0"+(second)).slice(-2)}}.{{("0"+(value)).slice(-2)}}</h2>
            </div>
          </div>


          <div class="content-block">
            <div class="resource-block">

              <div class="wrapper">
                <div class="re-bar">
                  <h4><i class="icon-image"></i>리소스 뷰어</h4>
                  <!--<div class="resource-counter">2/15</div>-->
                </div>
              </div>

              <div class="viewer" id="scrollArea">
                <ion-scroll delegate-handle="preview-content" ng-controller="ScrollCtrl" ng-Mouseover="isScroll()"
                            ng-mouseleave="risScroll()">
                  <!--<div id="{{viewerSet.isImg}}" class="resource-item"-->

                  <div class="resource-item"
                       style="background-image: url('{{viewerSet.image}}')"
                       ng-repeat="viewerSet in resourceitems">
                    <!--<a ng-click="gotoElement('middle')">middle</a>-->
                    <!--<a scroll-to="section1">section1</a>-->

                    <a class="viewr-script-button">
                      <div ng-click="scriptClcik($event)">음성듣기
                      </div>
                    </a>
                    <div class="indexCheck">{{$index +1 + "/" + resourceitems.length}}</div>
                  </div>

                </ion-scroll>

              </div>

            </div>

            <div class="script-block">
              <div class="wrapper">
                <div class="sc-bar"
                     ng-style=" (dev_width < 770) ? { 'width':'100%', 'padding':'0 20px' } : {'transformY':'10px'}">
                  <h4><i class="icon-record"></i>스크립트</h4>

                  <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="searchKeyword" ng-focus="isFocus = true"
                           ng-blur="isFocus = false">
                  </label>
                  <div class="search-btn" ng-show="isFocus == true">
                    <a><i class="ion-android-arrow-dropup"></i></a>
                    <a><i class="ion-android-arrow-dropdown"></i></a>
                  </div>
                  <span class="result-index">{{findScript.length}}</span>
                </div>
              </div>

              <div class="script-section">

                <span class="no-result" ng-show="findScript.length == 0">검색 결과가 없습니다.</span>
                <ion-scroll delegate-handle="scrap-content" ng-Mouseover="isScroll()" ng-mouseleave="risScroll()">
                  <!--<div id="section1">section1</div>-->
                  <div class="sub-wrapper"
                       ng-repeat="scriptSet in resourceitems  | filter:searchKeyword as findScript">


                    <div class="label"><i ng-show="scriptSet.bookmark" class="icon-bookmark"></i></div>
                    <div class="timecheck">
                      {{scriptSet.time}}
                    </div>
                    <button class="button-clear">
                      <p class="script-p" id="{{scriptSet.id}}" ng-click="scriptClcik($event)"
                         ng-bind-html="scriptSet.script | highlight:searchKeyword"
                         ng-class="{'play-script':scriptSet.isPlay == true}">{{scriptSet.script}}</p>
                    </button>

                  </div>

                </ion-scroll>
              </div>
            </div>


          </div>
        </div>
        <!--<div class="record-info">-->

        <!--</div>-->


      </div>
    </div>

    <!--모바일 바디 영역-->
    <div class="for-m" ng-if="(dev_width < 770)">


      <div class="header-background" ng-show="isFocus == !true" ng-hide="dev_width > 770">
      </div>

      <!--style="margin-top: {{margin.top}}; "-->
      <div class="record-detail-wrapper">
        <div class="date-m" ng-show="isFocus == !true">Saterday, Feb 17 3:11 PM / TAEBACK</div>
        <div class="title" ng-show="isFocus == !true">
          헬스케어 서비스를 위한 빅데이터 설계 포인트
        </div>
        <!--<div class="btn-wrapper">-->
        <!--<button class="button button-clear nav-btn" ng-click="deleteRecord()"><i-->
        <!--class="icon-delete detail-icon"></i>-->
        <!--<a class="nav-btn">Delete</a>-->
        <!--</button>-->

        <!--<button class="button button-clear nav-btn" ng-click="allResourceModal()"><i-->
        <!--class="icon-resource detail-icon"></i>-->
        <!--<a class="nav-btn" href="#">All resource</a>-->
        <!--</button>-->
        <!--</div>-->
        <div class="record-info">
        </div>

        <detail-preview-images ng-show="isFocus == !true"></detail-preview-images>

      </div>

      <div class="contents-wrap" ng-style="isFocus && {'margin-top':'0'}">
        <div class="wrapper">

          <div id="waveform"></div>

          <div class="sc-bar"
               ng-style=" (dev_width < 770) ? { 'width':'100%', 'padding':'0 20px' } : {'transformY':'10px'}">

            <h4><i class="icon-record"></i>스크립트 <span class="result-index">{{findScript.length}}</span></h4>

            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Search" ng-model="searchKeyword" ng-focus="isFocusCheck()"
                     ng-blur="isFocusCheck()">
            </label>
          </div>
        </div>

        <div class="script-section"
             ng-style=" (dev_width < 770) ? { 'padding-top':'5px' } : {'transformY':'10px'}">

          <div class="script">
            <span class="no-result" ng-show="findScript.length == 0">검색 결과가 없습니다.</span>
            <div class="sub-wrapper" ng-repeat="scriptSet in resourceitems  | filter:searchKeyword as findScript">

              <div class="label"><i ng-show="scriptSet.bookmark" class="icon-bookmark"></i></div>
              <div class="timecheck">
                {{scriptSet.time}}
              </div>
              <p id="{{$index}}" ng-click="scriptClcik($event)"
                 ng-bind-html="scriptSet.script | highlight:searchKeyword"
                 ng-class="{'play-script':scriptSet.isPlay == true}">{{scriptSet.script}}</p>
            </div>
          </div>

        </div>


        <div class="bar bar-footer" id="myP" ng-show="isFocus == !true" ng-if="(dev_width < 770)">

          <div class="timer">
            <h2>
              {{("0"+(hour)).slice(-2)}}:{{("0"+(minute)).slice(-2)}}:{{("0"+(second)).slice(-2)}}.{{("0"+(value)).slice(-2)}}</h2>
          </div>
          <div class="button-wrap">
            <div class="button  icon ion-ios-rewind"></div>
            <div class="button" ng-class="{'icon ion-ios-play':!active,'icon ion-ios-pause':active}"
                 ng-click="pauseCursor();"></div>
            <!--<div class="button  icon ion-ios-pause" ng-click="stopCursor();"></div>-->
            <div class="button  icon ion-ios-fastforward"></div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </ion-content>

</ion-view>


