.record-detail {
  .for-m {
    background-color: #efefef;
    .title-wrapper {
      position: relative;

      .btn-wrapper {
        position: absolute !important;
        right: 0;
        .detail-icon {
          margin-top: 4px;
          position: absolute;
          left: -18px;
          top: -5px;
        }
        .nav-btn {
          margin-top: 2px;
          margin-right: 35px;
          color: #777777;

        }
        .nav-btn:last-child {
          margin-right: 0;
        }
      }
      .title {
        position: absolute;
        margin-left: 20px;
        text-align: left !important;
        font-size: 16px !important;
        color: #ededed !important;
        top: 2px;
      }
      .date {
        display: none;
        position: absolute;
        font-size: 10px;
        margin-left: 20px;
        text-align: left !important;
        color: #ededed !important;
        top: -8px;
      }
      .tag {
        float: right;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        color: #d5d9e0;
        font-size: 12px;
        span {
          font-size: 10px;
          color: #707276;
          margin: 0 2px;
          border: 1px solid #848a93;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          padding: 6px 5px 2px;
          opacity: .6;
        }
      }

    }

    #waveform {
      z-index: 10000000;
      display: none;
      height: 40px;
      overflow-x: auto;
      overflow-y: hidden;
      margin: 0 auto;
      //width: 560px;
      //width: 100%;
      padding: 15px 0;
      //border-bottom: 1px solid #ededed;
      //border-top: 1px solid #ededed;
    }
    wave {
      height: 34px !important;
      canvas {
        //width: 100%;
        height: 34px !important;
        margin: 0 auto;
      }
    }

    #script_contents {

    }

    .bar-footer {
      .button-wrap {
        width: auto;
        margin: 0 auto;
        .button {
          width: 100px;
          background-color: transparent;
        }
      }
    }
    .wrapper {
      //display: block;
      //overflow: auto;
      //background-color: red;
    }
    .record-info {
      max-width: 927px;
      margin: 0 auto;
      position: relative;
      .title {
        margin-left: 20px;
        font-size: 16px;
      }
      .date {
        margin-left: 20px;

        position: absolute;
        font-size: 10px;
        font-family: "Helvetica Neue" !important;
        line-height: 18px;
        color: #a7b0be;
      }
    }

    .header-background {
      background-color: #242526;
      width: 100%;
      height: 390px;
      position: absolute;
      top: 0;
      z-index: -10;
    }

    .record-detail-wrapper {
      //-moz-border-radius-topleft: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      margin: 0 auto;
      box-shadow: 0 0 20px -8px #000;
      background: #fafafa;
      max-width: 1110px;
      height: 100%;
      .date-m {
        color: #a7b0be;
        font-size: 12px;
        padding-left: 20px;
        padding-top: 10px;
      }
      .title {
        padding: 2px 0 8px 20px;
        //margin-left:15px;
        font-size: 16px;
        //height: 54px;
        font-weight: 500;
        border-bottom: 1px solid #ededed;
        margin-bottom: 10px;
      }
      //margin: 0 auto;
      .btn-wrapper {
        height: 45px;
        overflow: auto;
        .detail-icon {
          margin-top: -2px;
          margin-right: 5px;
        }
        .nav-btn {
          margin-top: 2px;
          margin-right: 12px;
          float: right;
          color: #dddddd;

        }
        .nav-btn:last-child {
          margin-right: 0;
        }

      }
      .record-images {
        img {
          width: 100%;
          height: 180px;
          //background-color: red;

        }

      }
    }
    .contents-wrap {
      max-width: 560px;
      margin: -25px auto 0;
      .sc-bar {
        position: relative;
        border-bottom: 1px solid #ededed;
        border-top: 1px solid #ededed;;
        width: 100% !important;
        height: 45px;
        padding-top: 0;
        background-color: #fafafa;
        -webkit-box-shadow: 5px 30px 60px 8px rgba(0, 0, 0, 0.02);
        -moz-box-shadow: 5px 30px 60px 8px rgba(0, 0, 0, 0.02);
        box-shadow: 5px 30px 60px 8px rgba(0, 0, 0, 0.02);
        h4 {
          //float: left;
          display: inline-block;
          margin-right: 20px;
          position: absolute;
          .result-index {
            font-size: 14px;
            position: absolute;
            right: -20px;
            top: 6px;
            color: #3c77f2;
          }
        }

        .item-input {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 10px;
          padding: 2px 13px;
          //float: right;
          height: 28px !important;
          border-radius: 50px !important;
          width: 55%;
          margin: 8px;
          .icon {
            margin-top: -13px;
          }
          input {
            display: inline-block;
            margin-top: -6px;
          }

        }
      }
      .script-section {
        padding: 25px 20px 15px 0;
        min-height: 200px;
        width: 100%;
        max-height: 310px;
        overflow: scroll;
        background-color: #fff;
        .script {
          width: 100%;
          margin: 0 auto;
          .no-result {
            text-align: center;
            margin: 0 auto;
            display: inherit;
            font-size: 20px;
            margin-top: 20px;
            color: #a9a9a9;
          }
          .sub-wrapper {
            position: relative;
            margin-top: 10px;
            .timecheck {
              margin-left: 35px;
              color: #afb5c0;
              font-size: 12px;
            }
            .label {
              border-top: 2px solid #fc5656;
              width: 18px;
              left: 0;
              top: 5px;
              position: absolute;

              .icon-bookmark {
                position: absolute !important;
                left: 2px !important;
                top: -4px;
                color: #fc5656;
                font-size: 22px;

              }

            }
          }
          p {
            margin-left: 35px;
            line-height: 20px;
            margin-top: 2px;
            margin-bottom: 0;
            /* padding-top: 2px; */
            color: #484848 !important;
            background-color: #f9f9f9;
            border: 1px solid #f3f3f3;
            padding: 15px 20px 10px;
            display: inline-block;
            /* float: left; */
            border-radius: 8px;
          }

          i.icon-bookmark {
            position: relative;
            left: 14px;
            top: -2px;
            color: #fc5656;
            font-size: 19px;
          }

        }

      }

    }

    //미리보기 css
    .preview-wrap {
      margin-bottom: -5px;
    }
    .preview-wrap-web {
      padding-top: 25px !important;
      padding-bottom: 10px;
      margin-bottom: 10px;
      //border-bottom: 1px solid #ededed;
    }
    .preview-wrap-m {
      -webkit-transform: scale(.7);
      -moz-transform: scale(.7);
      -ms-transform: scale(.7);
      -o-transform: scale(.7);
      transform: scale(.7);
      margin-top: -38px;

    }

    .nine {
      width: 100%;

    }
    .coverflow {
      width: 100%;
      position: relative;
      height: 250px;
      //padding: 30px;
      overflow: visible;
      -webkit-perspective: 1000px;
      perspective: 1000px;
    }

    .coverflow__image {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 400px;
      height: 250px;
      -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .coverflow__image[data-coverflow-index] {
      position: absolute;
      left: 50%;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }

    .coverflow__image[data-coverflow-index]:before {
      content: " ";
      position: absolute;
      top: 300px;
      width: 100%;
      height: 10%;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 10;
      -webkit-transform: translateX(-200px) scale(1);
      transform: translateX(-200px) scale(1);
      box-shadow: 0 1px 25px 10px rgba(10, 10, 10, 0.1);
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 8;
      -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
      transform: translateX(100px) scale(0.5) rotateY(-45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 7;
      -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
      transform: translateX(190px) scale(0.35) rotateY(-45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 6;
      -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
      transform: translateX(280px) scale(0.2) rotateY(-45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 5;
      -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
      transform: translateX(370px) scale(0.05) rotateY(-45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 4;
      -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
      transform: translateX(460px) scale(-0.1) rotateY(-45deg);
      opacity: -0.33333;
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 3;
      -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
      transform: translateX(550px) scale(-0.25) rotateY(-45deg);
      opacity: -0.5;
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 2;
      -webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
      transform: translateX(640px) scale(-0.4) rotateY(-45deg);
      opacity: -0.66667;
    }

    .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 1;
      -webkit-transform: translateX(730px) scale(-0.55) rotateY(-45deg);
      transform: translateX(730px) scale(-0.55) rotateY(-45deg);
      opacity: -0.83333;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 10;
      -webkit-transform: translateX(-200px) scale(1);
      transform: translateX(-200px) scale(1);
      box-shadow: 0 1px 25px 10px rgba(10, 10, 10, 0.1);
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 8;
      -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
      transform: translateX(100px) scale(0.5) rotateY(-45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 7;
      -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
      transform: translateX(190px) scale(0.35) rotateY(-45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 6;
      -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
      transform: translateX(280px) scale(0.2) rotateY(-45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 5;
      -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
      transform: translateX(370px) scale(0.05) rotateY(-45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 4;
      -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
      transform: translateX(460px) scale(-0.1) rotateY(-45deg);
      opacity: -0.33333;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 3;
      -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
      transform: translateX(550px) scale(-0.25) rotateY(-45deg);
      opacity: -0.5;
    }

    .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 2;
      -webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
      transform: translateX(640px) scale(-0.4) rotateY(-45deg);
      opacity: -0.66667;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 8;
      -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
      transform: translateX(-500px) scale(0.5) rotateY(45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 10;
      -webkit-transform: translateX(-200px) scale(1);
      transform: translateX(-200px) scale(1);
      box-shadow: 0 1px 25px 10px rgba(10, 10, 10, 0.1);
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 8;
      -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
      transform: translateX(100px) scale(0.5) rotateY(-45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 7;
      -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
      transform: translateX(190px) scale(0.35) rotateY(-45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 6;
      -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
      transform: translateX(280px) scale(0.2) rotateY(-45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 5;
      -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
      transform: translateX(370px) scale(0.05) rotateY(-45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 4;
      -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
      transform: translateX(460px) scale(-0.1) rotateY(-45deg);
      opacity: -0.33333;
    }

    .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 3;
      -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
      transform: translateX(550px) scale(-0.25) rotateY(-45deg);
      opacity: -0.5;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 7;
      -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
      transform: translateX(-590px) scale(0.35) rotateY(45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 8;
      -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
      transform: translateX(-500px) scale(0.5) rotateY(45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 10;
      -webkit-transform: translateX(-200px) scale(1);
      transform: translateX(-200px) scale(1);
      box-shadow: 0 1px 25px 10px rgba(10, 10, 10, 0.1);
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 8;
      -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
      transform: translateX(100px) scale(0.5) rotateY(-45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 7;
      -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
      transform: translateX(190px) scale(0.35) rotateY(-45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 6;
      -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
      transform: translateX(280px) scale(0.2) rotateY(-45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 5;
      -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
      transform: translateX(370px) scale(0.05) rotateY(-45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 4;
      -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
      transform: translateX(460px) scale(-0.1) rotateY(-45deg);
      opacity: -0.33333;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 6;
      -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
      transform: translateX(-680px) scale(0.2) rotateY(45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 7;
      -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
      transform: translateX(-590px) scale(0.35) rotateY(45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 8;
      -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
      transform: translateX(-500px) scale(0.5) rotateY(45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 10;
      -webkit-transform: translateX(-200px) scale(1);
      transform: translateX(-200px) scale(1);
      box-shadow: 0 1px 25px 10px rgba(10, 10, 10, 0.1);
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 8;
      -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
      transform: translateX(100px) scale(0.5) rotateY(-45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 7;
      -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
      transform: translateX(190px) scale(0.35) rotateY(-45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 6;
      -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
      transform: translateX(280px) scale(0.2) rotateY(-45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 5;
      -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
      transform: translateX(370px) scale(0.05) rotateY(-45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 5;
      -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
      transform: translateX(-770px) scale(0.05) rotateY(45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 6;
      -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
      transform: translateX(-680px) scale(0.2) rotateY(45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 7;
      -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
      transform: translateX(-590px) scale(0.35) rotateY(45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 8;
      -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
      transform: translateX(-500px) scale(0.5) rotateY(45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 10;
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px);
      box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 8;
      -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
      transform: translateX(100px) scale(0.5) rotateY(-45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 7;
      -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
      transform: translateX(190px) scale(0.35) rotateY(-45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 6;
      -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
      transform: translateX(280px) scale(0.2) rotateY(-45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 4;
      -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
      transform: translateX(-860px) scale(-0.1) rotateY(45deg);
      opacity: -0.33333;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 5;
      -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
      transform: translateX(-770px) scale(0.05) rotateY(45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 6;
      -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
      transform: translateX(-680px) scale(0.2) rotateY(45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 7;
      -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
      transform: translateX(-590px) scale(0.35) rotateY(45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 8;
      -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
      transform: translateX(-500px) scale(0.5) rotateY(45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 10;
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px);
      box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 8;
      -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
      transform: translateX(100px) scale(0.5) rotateY(-45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 7;
      -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
      transform: translateX(190px) scale(0.35) rotateY(-45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 3;
      -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
      transform: translateX(-950px) scale(-0.25) rotateY(45deg);
      opacity: -0.5;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 4;
      -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
      transform: translateX(-860px) scale(-0.1) rotateY(45deg);
      opacity: -0.33333;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 5;
      -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
      transform: translateX(-770px) scale(0.05) rotateY(45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 6;
      -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
      transform: translateX(-680px) scale(0.2) rotateY(45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 7;
      -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
      transform: translateX(-590px) scale(0.35) rotateY(45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 8;
      -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
      transform: translateX(-500px) scale(0.5) rotateY(45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 10;
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px);
      box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 8;
      -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
      transform: translateX(100px) scale(0.5) rotateY(-45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 2;
      -webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
      transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
      opacity: -0.66667;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 3;
      -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
      transform: translateX(-950px) scale(-0.25) rotateY(45deg);
      opacity: -0.5;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 4;
      -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
      transform: translateX(-860px) scale(-0.1) rotateY(45deg);
      opacity: -0.33333;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 5;
      -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
      transform: translateX(-770px) scale(0.05) rotateY(45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 6;
      -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
      transform: translateX(-680px) scale(0.2) rotateY(45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 7;
      -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
      transform: translateX(-590px) scale(0.35) rotateY(45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 8;
      -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
      transform: translateX(-500px) scale(0.5) rotateY(45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 10;
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px);
      box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
    }

    .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 9;
      -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
      transform: translateX(10px) scale(0.65) rotateY(-45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="1"] {
      z-index: 1;
      -webkit-transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
      transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
      opacity: -0.83333;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="2"] {
      z-index: 2;
      -webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
      transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
      opacity: -0.66667;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="3"] {
      z-index: 3;
      -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
      transform: translateX(-950px) scale(-0.25) rotateY(45deg);
      opacity: -0.5;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="4"] {
      z-index: 4;
      -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
      transform: translateX(-860px) scale(-0.1) rotateY(45deg);
      opacity: -0.33333;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="5"] {
      z-index: 5;
      -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
      transform: translateX(-770px) scale(0.05) rotateY(45deg);
      opacity: -0.16667;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="6"] {
      z-index: 6;
      -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
      transform: translateX(-680px) scale(0.2) rotateY(45deg);
      opacity: 0;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="7"] {
      z-index: 7;
      -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
      transform: translateX(-590px) scale(0.35) rotateY(45deg);
      opacity: 0.16667;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="8"] {
      z-index: 8;
      -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
      transform: translateX(-500px) scale(0.5) rotateY(45deg);
      opacity: 0.33333;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="9"] {
      z-index: 9;
      -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
      transform: translateX(-410px) scale(0.65) rotateY(45deg);
      opacity: 0.5;
    }

    .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="10"] {
      z-index: 10;
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px);
      box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
    }

    .prev-arrow,
    .next-arrow {
      cursor: pointer;
      z-index: 1000;
      position: absolute;
      top: 50%;
      //padding: 1.5rem 1.5rem;
      color: rgba(145, 145, 145, 0.5);
      font-size: 3rem;
      line-height: 3rem;
      background: transparent;
      //border-radius: 50px;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: color 200ms, background 200ms;
      transition: color 200ms, background 200ms;
    }

    .prev-arrow:hover,
    .next-arrow:hover,
    .prev-arrow:focus,
    .next-arrow:focus {
      color: #e4ff2b;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10000;
    }

    .prev-arrow {
      left: 0%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 12px;
      margin-left: -44px;
      z-index: 10000;
    }

    .prev-arrow:before {
      content: "❮";

    }

    .next-arrow {
      right: 0%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 12px;
      margin-right: -44px;
      z-index: 10000;
    }

    .next-arrow:after {
      content: "❯";
    }
  }
  .bar-footer {
    border-radius: 8px;
    width: 100%;
    margin: 0 auto -8px;
    height: 60px;
    text-align: center;
    background-color: #242526;
    opacity: .9;
    background-size: 100% 0;
    .timer {
      left: 25px;
      top: 5px;
      position: absolute;
      h2 {
        font-size: 25px;
        margin-top: 7px;
        font-family: Geogrotesque;
        color: #dddddd;
      }
    }
    .button-wrap {
      width: 220px;
      margin: 5px auto 0 !important;
      position: absolute;
      right: 20px;
      .button {
        margin: 0;
        width: 60px !important;
        background-color: transparent;
      }
    }
  }

}
